html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
*{
    margin: 0;
    padding: 0;
}
  .choices{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 200px;
    padding-top: 10px;
  }

  .container{
    background-color: coral;
    height: 250px;
    width: 300px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
      }

  .choice{
    margin-top: 16px;
    height: 180px;
    width: 180px;
    background-color: aquamarine;
  }


.vs{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
}

.stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin-top: 16px;
}

.points{
  display: flex;
  justify-content: center;
  gap: 680px;
}

#message{
  text-align: center;
  font-size: 32px;
  margin-top: 24px;
}

.select{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  font-size: 40px;
}

.options{
  display: flex;
  gap: 90px;
}

img{
  height: 150px;
  width: 150px;
}